<div class="row mx-5">
  <div class="col-md-6">
    <img src="{{book.imageUri}}" class="img-fluid" alt="{{book.title}}" />
  </div>
  <div class="col-md-6">
    <h1>{{book.title}}</h1>
    <p class="text-danger fw-bold">{{book.discountedPrice}}</p>
    {{#if book.discount}}
      <p
        class="text-decoration-line-through text-muted"
      >{{book.originalPriceFormatted}}</p>
    {{/if}}
    <p><strong>Nhà cung cấp:</strong> {{book.supplier}}</p>
    <p><strong>Nhà xuất bản:</strong> {{book.publisher}}</p>
    <p><strong>Tác giả:</strong>
      {{#each book.listAuthor}}{{this}}{{#unless @last}},
        {{/unless}}{{/each}}</p>
    <p><strong>Thể loại:</strong>
      {{#each book.listCategory}}{{this}}{{#unless @last}},
        {{/unless}}{{/each}}</p>
    <p><strong>Loại bìa:</strong> {{book.coverType}}</p>
    <p><strong>Số trang:</strong> {{book.numberPage}}</p>
    <p><strong>Số lượng còn lại:</strong> {{book.stock}}</p>
    <div class="d-flex justify-content-center align-items-center">
        {{> button title="Thêm vào giỏ hàng" backgroundColorClass="bg-primary" textColorClass="text-white" icon="fa-cart-plus"}}
        {{> button title="Mua ngay" backgroundColorClass="bg-white" textColorClass="text-primary"}}
    </div>
  </div>
  <p>{{book.description}}</p>
</div>